@{
    ViewBag.Title = "About";
}
<h2>About Ravi Varma Devulapally</h2>


<h4>
    <img src="~/Images/pic.jpg" alt="Ravi image" style="width:200px;height:200px;">

    <br />

    Myself Ravi Varma Devulapally <br /><br />

    I am an MS-ACS graduate student working on my last semester. <br /><br />

    I am from Warangal, India and I have done my undergraduation in Mechanical stream and later changed on to computers. I don’t have any work experience before and my hobbies are photography and irritating people.
    <br /><br />

    I want to work as a Java developer in the near future and also interested to work on Database.
    <br /><br />

    An interesting fact about me is am an introvert :)
    <br /><br />
    Github profile:<a href="https://github.com/RavivarmaDevulapally">Github</a>
    <br/>
</h4>
